:root {
  --main-padding: 50px;
}

body {
  margin: 0px;
}
#main {
  padding: var(--main-padding);
  background: #cbcbcb;
}
#title {
  text-align: center;
  margin-bottom: 45px;
}
#img-div {
  text-align: center;
  display: flex;
  flex-flow: column;
}
#image {
  max-height: 500px;

  margin: 0 auto 15px auto;
}
#img-caption {
  text-transform: capitalize;
}
#tribute-info {
  padding: var(--main-padding);
  background-color: gray;
}

#tribute-info h3 {
  text-align: center;
  text-transform: capitalize;
}
#tribute-info #p1 {
  text-align: center;
  line-height: 1.7;
}
#tribute-info #p2 {
  background-color: #cbcbcb;
  text-align: center;
  padding: 50px;
  text-transform: capitalize;
}
#tribute-info #p2 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
